torch>=2.2.0
torchvision
lpips
omegaconf
transformers
safetensors
accelerate
imageio[ffmpeg]
PyMCubes
trimesh
megfile
opencv-python
optimum[onnxruntime-gpu]
rembg[gpu,cli]
httpx[socks]
tensorboard
gradio
huggingface_hub
numpy
pyro-ppl 
argparse
torchvision
requests
tqdm
typing
objaverse
boto3
wandb
tyro==0.3.38

